$yellow: #eaaa00;

.hero {
  background-position: center;
  color: white;
  position: relative;

  &::before {
    background-color: #0e1271;
    border-radius: 0.5rem;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 0;
  }

  &__container {
    position: relative;
    z-index: 10;
  }
}
